{% extends 'restoran/base.html' %}
{% load static %}


{% block content %}

<div class='container'>
</div>
<div class="about">
    <div class="about_img">
        <img src="{% static 'restoran/image/aboutus.png' %}"/>
    </div>
    <div class="about_block">
        <div class="about_polosa"></div>
        <p class="about_title">About us</p>
        <p class="about_text">У нас вы встретите прекрасную атмосферу,<br>
            отличные блюда от наших поваров и<br> 
            отзывчивое обслуживание.  </p>
    </div>
</div>
</div>

{% endblock content %}